*.iml
.backup
.gradle
/.kotlin
/local.properties
/.idea
/test
.DS_Store
/build
/captures
/database
.externalNativeBuild
.cxx
/lolServicesApi/src/main/res/raw/riot_api_key.txt
/external/
/export/
Резервная_копия_*
/screenshots
/videos
/buildSrc/.gradle
/buildSrc/build