*.iml
.backup
.gradle
/local.properties
/.idea
/test
.DS_Store
/build
/captures
/database
.externalNativeBuild
.cxx
/lol-services-api/src/main/res/raw/riot_api_key.txt
/external/
/export/
Резервная_копия_*
/screenshots
/videos